<%= render 'shared/navbar' %>
<div class="container-bia mt-5">
  <div class="index-restaurants-layout">
      <h2><%= current_user.name %></h2>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Your places</h2>
      <i class="biabutton font-size-awesome fas fa-map-marked-alt"></i>
    </div>
    <div class="side-filter">
      <div class="card-info">
        <div class="card-profile-image">
          <% if current_user.photo? %>
             <%= cl_image_tag current_user.photo, class: "avatar-profile" %>
           <% else %>
             <%= cl_image_tag 'snmjibatw66rduqpmt3b', class: "avatar-profile" %>
           <% end %>
         </div>
         <div class="card-profile-content">
          <div class="following-info profile-info">
            <%= link_to "Following", '#' %>
            <p>123</p>
          </div>
          <div class="followers-info profile-info">
            <%= link_to "Followers", '#' %>
            <p>134</p>
          </div>
          <div class="recommended-info profile-info">
            <%= link_to "Recommended", '#' %>
            <p>56</p>
          </div>
          <div class="saved-info profile-info">
            <%= link_to "Saved", '#' %>
            <p>43</p>
          </div>
         </div>
      </div>
    </div>
    <div class="index-restaurants-grid">
      <% @restaurants.each do |restaurant| %>
        <%= render 'shared/card', restaurant: restaurant %>
      <% end %>
    </div>
  </div>
</div>
