<% content_for :meta_title, "BIA - #{@user.name}'s Profile" %>
<%= render 'shared/navbar' %>
<div class="container-bia mt-5">
  <div class="index-restaurants-layout">
    <h2 class="text-center"><%= @user.name %></h2>
    <div class="d-flex justify-content-between align-items-center">
      <% if @user == @current_user %>
        <h2>Your places</h2>
      <% elsif @user.gender == "Female" %>
        <h2>Her places</h2>
      <% elsif @user.gender == "Male" %>
        <h2>His places</h2>
      <% else %>
        <h2>Places</h2>
      <% end %>
      <i id="map-btn" class="biabutton font-size-awesome fas fa-map-marked-alt"></i>
      <i id="list-btn" class="hidden biabutton font-size-awesome fas fa-stream"></i>
    </div>
    <%= render 'shared/users/profile_info', user: @user, friendship: @friendship %>
    <div id="list-container" class="">
      <div id="index-restaurants-grid">
        <%= render 'shared/restaurants/restaurant_card_grid', restaurants: @own_restaurants, current_page: @current_page, total_pages: @total_pages, user_to_exclude: @user %>
      </div>
    </div>
    <div id="map-container" class="hidden">
      <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        class = "width-100-pc span-2-1 image-rounded-corners"
      ></div>
    </div>
  </div>
</div>
