<%= link_to(restaurant) do  %>
  <div class="card-bia">
    <!--Default restaurant Card-->
     <div class="card-image" style="background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.1), rgba(242, 242, 242, 0.1)), url('<%= cl_image_path restaurant.photo %>')">
      <!-- card cover image -->
      <div>
        <!-- Contextual hover tag below -->
      </div>
    </div>
    <div class="px-3 py-2">
      <!-- Card Information box -->
        <div class="d-flex justify-content-between align-items-center pb-2">
          <!-- Card Information top row-->
          <div class="d-flex align-items-center">
            <h5 class="h5-style"><%=restaurant.name%></h5>
          </div>

          <div class="d-flex align-items-center">

            <%array_of_friends = restaurant.get_friends_recommended(current_user)%>
            <%number_of_friends = array_of_friends.count %>
            <%if number_of_friends != 0 %>
              <% array_of_friends.each_with_index do |selection, count| %>
                <%if count !=  number_of_friends - 1%>
                  <%class_list = "avatar-very-small"%>
                <%else%>
                  <%class_list = "avatar-very-small image-overlay-left"%>
                <%end%>
                <%= cl_image_tag selection.user.photo, class: "#{class_list}" %>
              <% end %>
            <%end%>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <!-- Card Information bottom row-->
          <p><%=restaurant.cuisine%></p>
          <p><%= render 'shared/display_avg_occassion', average: restaurant.avg_occasion %></p>
        </div>
    </div>
  </div>
<% end %>

