<% if selection.recommended? %>
  <div class="discover-activity-card">
    <%= link_to(user_path(selection.user)) do %>
      <div class="avatar-large" style="background-image: url('<%= cl_image_path selection.user.photo %>')"></div>
    <% end %>
    <div class="activity-content">
      <%= render 'shared/review_header', selection: selection, restaurant_show: false%>
      <p class="my-2"> <%= selection.review %> </p>
      <%= render 'shared/card', data: {restaurant: selection.restaurant, user_to_exclude: selection.user}%>
      <p class="small-font mt-3"> Posted on <%= selection.created_at.strftime('%a %d %b %Y') %></p>
    </div>
  </div>

<% elsif selection.bookmarked? %>
  <div class="discover-activity-card">
    <%= link_to(user_path(selection.user)) do %>
      <div class="avatar-large" style="background-image: url('<%= cl_image_path selection.user.photo %>')"></div>
    <% end %>
    <div class="activity-content">
      <h5 class="mb-2"> <%= link_to selection.user.name, selection.user%> has bookmarked <%= link_to selection.restaurant.name, restaurant_path(selection.restaurant), class: 'text-color-black'%></h5>
      <%= render 'shared/card', data: {restaurant: selection.restaurant} %>
      <p class="small-font mt-3"> Bookmarked on <%= selection.created_at.strftime('%a %d %b %Y') %></p>
    </div>
  </div>
<% end %>
