<div class="mt-7">
  <div class="footer py-5">
    <!-- Upper Container -->
    <div class="footer-upper-container">
      <div class="discover-overview-footer-card">
        <!-- All upper cards -->
        <div class="upper-footer-card footer-card discover-footer-card">
          <h5>Find</h5>
          <%= link_to "Places nearby", restaurants_path({"query"=>"", "location"=>"", "range"=>"", "lat"=>"na", "long"=>"na", "cuisine"=>[""], "occasion"=>[""], "price"=>[""]}), class: "link-grey" %>
          <%= link_to "Place for today", restaurants_path({"query"=>"", "location"=>"", "range"=>"", "lat"=>"na", "long"=>"na", "cuisine"=>[""], "occasion"=>[""], "price"=>[""]}), class: "link-grey" %>
        </div>
        <div class="upper-footer-card footer-card overview-footer-card">
          <h5>Discover</h5>
          <%= link_to "Recent recommendations", discover_path, class: "link-grey" %>
        </div>
      </div>
      <div class="upper-footer-card footer-card you-footer-card">
          <h5>You</h5>
          <%= link_to "Bookmarked Places", profile_path(section:"bookmarked"), class: "link-grey" %>
          <%= link_to "Recommended Places", profile_path(section:"recommended"), class: "link-grey" %>
        </div>
        <div class="upper-footer-card footer-card account-footer-card">
          <h5>Account</h5>
          <%= link_to "Settings & Account", profile_path(section:"account"), class: "link-grey" %>
          <%= link_to "Location: Berlin", profile_path(section:"account"), class: "link-grey" %>
          <%= link_to "Language: English", profile_path(section:"account"), class: "link-grey" %>
        </div>
        <div class="upper-footer-card footer-card bia-footer-card">
          <h5>BIA</h5>
          <%= link_to "Suggestions & Feedback", contact_path(type:"feedback"), class: "link-grey" %>
          <%= link_to "Support", contact_path(type:"support"), class: "link-grey" %>
          <%= link_to "Donate", contact_path(type:"donate"), class: "link-grey" %>
          <%= link_to "About", about_path, class: "link-grey" %>
        </div>
    </div>
    <!-- Lower Container -->
    <div class="footer-lower-container">
      <!-- All lower cards -->
      <div class="lower-footer-card copyright-footer-card ">
        <p>© Copyright 2020 | Otto, Marie, Joris & Paul</p>
      </div>
      <div class="lower-footer-card terms-footer-card">
        <%= link_to 'Terms & Conditions', terms_path, class: "px-3 link-grey" %>
        <p>    |    </p>
        <%= link_to 'Cookies', cookies_path, class: "px-3 link-grey" %>
        <p>    |    </p>
        <%= link_to 'Privacy Policy', privacy_path, class: "px-3 link-grey" %>
        <p>    |    </p>
        <%= link_to 'Site Map', '#', class: "px-3 link-grey" %>
      </div>
      <div class="lower-footer-card icons-footer-card">
        <a href="https://www.facebook.com/BIA-app-102902541202910" target="_blank"><i class="fab fa-facebook footer-icon px-2 link-grey"></i></a>
        <a href="https://www.instagram.com/bia.app/?hl=de" target="_blank"><i class="fab fa-instagram footer-icon px-2 link-grey"></i></a"></i></a>
        <a href="https://twitter.com/Bia_app" target="_blank"><i class="fab fa-twitter footer-icon px-2 link-grey"></i></a>
      </div>
    </div>
  </div>
</div>



<!-- <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div> -->

<!--     <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div> -->
