<div class="footer py-4">
  <div class="footer-container">
    <div class="discover-overview-footer-card">
      <div class="discover-footer-card">
        <h5>Discover</h5>
        <%= link_to "Places nearby", '#', class: "link-grey" %>
        <%= link_to "Place for today", '#', class: "link-grey" %>
      </div>
      <div class="overview-footer-card">
        <h5>Overview</h5>
        <%= link_to "Recent recommendations", '#', class: "link-grey" %>
      </div>
    </div>
    <div class="you-footer-card">
        <h5>You</h5>
        <%= link_to "Saved places", '#', class: "link-grey" %>
        <%= link_to "Recommended Places", '#', class: "link-grey" %>
      </div>
      <div class="account-footer-card">
        <h5>Account</h5>
        <%= link_to "Settings & Data", '#', class: "link-grey" %>
        <%= link_to "Location: Berlin", '#', class: "link-grey" %>
        <%= link_to "Language: English", '#', class: "link-grey" %>
      </div>
      <div class="bia-footer-card">
        <h5>BIA</h5>
        <%= link_to "Suggestions & Feedback", '#', class: "link-grey" %>
        <%= link_to "Support", '#', class: "link-grey" %>
        <%= link_to "Donate", '#', class: "link-grey" %>
        <%= link_to "About", '#', class: "link-grey" %>
      </div>
  </div>
</div>



<!-- <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div> -->

<!--     <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div> -->
