<div class="navbar-bottom-border">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon container-bia py-2 px-0">
    <div class="d-flex align-items-center">
      <h1 class="mr-5 my-0"><%= link_to "BIA", root_path, class: "navbar-logo"%></h1>
      <h5 class="mr-3 my-0"><%= link_to "Discover", discover_path, class: "navbar-link"%></h4>
      <h5 class="my-0"><%= link_to "Overview", restaurants_path, class: "navbar-link"%></h4>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="">
              <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-remove-b-margin' } do |f| %>
                  <%=f.input :query, required: false, label: false, input_html: {class: 'input-field simple_form-align' }%>
                  <%=f.submit "Search", class: "hide" %>
              <% end %>
          </li>
          <li class="nav-item dropdown ml-3">
            <% if current_user.photo? %>
              <%= cl_image_tag current_user.photo, class: "tool_image", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% else %>
              <%= cl_image_tag 'snmjibatw66rduqpmt3b', class: "tool_image", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <h5 class="my-0"><%= link_to "Login", new_user_session_path, class: "navbar-link" %></h5>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
