<%= render 'shared/navbar' %>
<div class="bia-banner d-flex flex-column justify-content-end mb-4" style="background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.3), rgba(242, 242, 242, 0.3)), url(<%=asset_path('banner.png')%>)">
  <div class="container-bia banner-text-alignement align-items-start">
    <h1>Friendly Recommendations</h1>
    <h3>Find the Restaurants that fit your taste by connecting with the People you Trust</h3>
    <a class="biabutton" href="#">Connect with your Gourmet Friends!</a>
  </div>
  <div class="bottom-cut">
    <svg width="100%" height="40" viewBox="0 0 800 400" preserveAspectRatio="none">
      <path d="M 0 0 C 0 0 0 0 250 400 C 350 400 800 0 800 0 L 800 400 L 0 400 L 0 000 A 50 50 0 1 1" fill="white"></path>
    </svg>
  </div>
</div>
<div class="container-bia">
  <%= cl_image_tag 'llooz6sn4uorxkniqlj2', height: 300, width: 400, crop: :fill %>
<!--

  <h1>h1: Landing page only</h1>
  <h2>h2 title - Standard title </h2>
  <h3>h3 title - Subtitle -- Landing page only </h3>
  <h4>h4 title - Medium title </h4>


  <p class="h4-style">Fake h4 style</p>
  <h5>h5 - Small title </h5>
  <p class="h5-style">Fake h5 style</p>


  <h6>h6 Not to be used </h6>
  <a href="www.google.de" > I'm a link </a>

  <p>Regular paragraph / description</p>

  <button type="button" class="biabutton">click me</button>

  <br>
  <a href="www.google.de" class="biabutton"> Click me as a link </a>
  <br>
  <button type="button" class="quick-action">Quick action as a button </button>
  <br>
  <a href="www.google.de" class="quick-action"> Quick action as a link </a> -->
  <div class="mb-4" style="display:flex; flex-wrap: wrap;">
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
  </div>

</div>



