  <%query = params[:search][:query] if !params[:search].nil?%>
  <%location = params[:search][:location] if !params[:search].nil?%>
  <%cuisine = params[:search][:cuisine] if !params[:search].nil?%>
  <%occasion = params[:search][:occasion] if !params[:search].nil?%>
  <%price = params[:search][:price] if !params[:search].nil?%>
  <div class="hide" id="user-location-determine">
    <%= render 'shared/restaurants/location_field', user_location: @user_location%>
  </div>
  <%= simple_form_for :search, url: restaurants_path, method: "GET", html: { class: 'form-remove-b-margin', id: 'autosubmit-form' }, remote: true do |f| %>
      <%=f.input :query, required: false, label: false, placeholder: "Restaurant name, cuisine...", input_html: {class: 'input-field simple_form-align mb-2', value: query}%>
      <h5 class="mb-2">Location</h5>
      <div class="input-field-to-row-filter">
        <%=f.input :location, required: false, label: false, placeholder: "Location of places", input_html: {class: 'input-field simple_form-align mb-2 multiselectuser', value: location}%>
        <%=f.input :range,  as: :numeric, label: false, required: false, placeholder: "5km",  input_html: {class: 'input-field' }%>
      </div>
      <%=f.input :lat, required: false, label: false, input_html: {value: 'na', class: 'hide', id: 'latitude-hidden' }%>
      <%=f.input :long, required: false, label: false, input_html: {value: 'na', class: 'hide', id: 'longitude-hidden' }%>
      <h5 class="mb-2">Cuisine</h5>
      <%=f.input :cuisine, as: :select, collection: Restaurant::CUISINES.sort, required: false, label: false, input_html: {data: {"live-search" => :true, "actions-box" => :true, width: '345px', style: "btn-light"}, selected: cuisine, class: 'simple_form-align mb-2 selectpicker', multiple: "", title:"French, Japanese, Italian..."}%>
      <h5 class="mb-2">Occasion</h5>
      <div class="bia-radio-button bia-radio-button-width-filter mb-2">
        <%= f.input_field :occasion,
                    checked: occasion,
                    as: :check_boxes,
                    collection: [[1, 'on-the-go'], [2, 'casual'], [3, 'evening out' ], [4, 'fine dining']],
                    label_method: :second,
                    value_method: :first %>
      </div>
      <h5 class="mb-2">Price</h5>
      <div class="bia-radio-bar mb-2">
        <%= f.input_field :price,
                  checked: price,
                  as: :check_boxes,
                  collection: [[1, '€'], [2, '€€'], [3, '€€€' ], [4, '€€€€']],
                  label_method: :second,
                  value_method: :first%>
      </div>
    <button type="submit" class="biabutton width-75px mr-3" id="filter-submit"><i class="fas fa-search"></i></button>
    <%= link_to 'Reset', restaurants_path(reset: true), class:"biabutton width-75px text-align-center", id:"index-filter-reset"%>
  <% end %>
