<h5 class = 'mb-3 mt-4'>Restaurant details</h5>
  <% if !restaurant.cuisine.nil? %>
    <p class= 'my-2 details-cuisine'> Cuisine: <%= restaurant.cuisine %></p>
  <% end %>
  <% if !restaurant.avg_occasion.nil? %>
    <p class= 'my-2 details-occassion'> Mostly suited for: <%= render 'shared/display_avg_occassion', average: restaurant.avg_occasion %></p>
  <% end %>
  <% if !restaurant.avg_price.nil? %>
    <p class= 'my-2 details-price'> Prices: <%= render 'shared/display_avg_price', average: restaurant.avg_price %></p>
  <% end %>

<h5 class = 'mb-3 mt-4'>Contact details</h5>
  <p class= 'my-2'> Address: <%= restaurant.address %></p>
  <% if restaurant.phone_number != '' %>
    <p class= 'my-2'> Phone: <%= restaurant.phone_number %></p>
  <% end %>
  <% if restaurant.email != '' %>
    <p class= 'my-2'> E-mail: <a href=<%= "mailto:#{restaurant.email}" %>> <%= restaurant.email %> </a>  </p>
  <% end %>
  <% if restaurant.url != '' %>
    <p class= 'my-2'> Web: <a href=<%= restaurant.url %> target="_blank"> <%= restaurant.name %> </a> </p>
  <% end %>
