<h3 class="mb-3">Recommend <%= restaurant.name %> to your friends</h3>
<%= simple_form_for([restaurant, selection]) do |f| %>
  <%= f.input :review, required: true, input_html: {  class: "input-field" }, label_html: {class: "h5-style"} %>
  <%= render 'shared/input_occasion', f: f %>
  <%= render 'shared/input_price', f: f %>
  <!-- <h5 class="mb-2">Exceptional</h5>
  <%= f.input_field :special, as: :radio_buttons %> -->
  <%= f.hidden_field :recommendation, value: true %>
  <%= f.button :submit, "Post your review", class: 'bia-button-highlight' %>
<% end %>


