<h3 class="mb-3">Recommend <%= restaurant.name %> to your friends</h3>
<%= simple_form_for([restaurant, selection], remote: true, method: :post ) do |f| %>
  <%= f.input :review, required: true, input_html: {  class: "input-field" }, label_html: {class: "h5-style require-review"} %>
  <h5 class="mb-2">Cuisine</h5>
  <%=f.input :cuisine, as: :select, collection: Restaurant::CUISINES, required: true, label: false, input_html: {data: {"live-search" => :true, width: '100%', style: "btn-light"}, class: 'simple_form-align mb-2 selectpicker', title:"French, Japanese, Italian..."}%>
  <%= render 'shared/input_occasion', f: f %>
  <%= render 'shared/input_price', f: f %>
  <!-- <h5 class="mb-2">Exceptional</h5>
  <%= f.input_field :special, as: :radio_buttons %> -->
  <%= f.hidden_field :recommendation, value: true %>
  <%= f.button :submit, "Post your review", class: 'bia-button-highlight' %>
<% end %>


