<% restaurant_id = restaurant.id %>
<% url = "https://www.bia-app.com/restaurants/#{restaurant_id}" %>
<% text= "Check%20out%20this%20restaurant%20I%20found%20on%20Bia!%20" %>


<h3 class="mb-4">Share <%= restaurant.name %> with your friends </h3>

<textarea class="copy-area input-field"> <%= url %> </textarea>


<div class="social-links">
  <a class="copy-button" data-clipboard-action="copy" data-clipboard-target="#target"> <i class="fas fa-link social-link"></i> </a>
  <div data-href="https://www.bia-app.com/restaurants/8"> <a target="_blank" href= <%= "https://www.facebook.com/sharer/sharer.php?u=#{url}&amp;src=sdkpreparse" %> class="fb-xfbml-parse-ignore"> <i class="fab fa-facebook-f social-link"></i></i> </a> </div>
  <a class="twitter-share-button" target="_blank"
    href= <%= "https://twitter.com/intent/tweet?text=#{text}&url=#{url}" %>
    data-size="large">
  <i class="fab fa-twitter social-link"></i> </a>
</div>
<%= form_for([@restaurant, @share], remote: true) do |f| %>
  <%= f.button :submit, id: 'share-submit' %>
<% end %>

<p class="message-field"> </p>
