function addBookmark(bookmarkHTML) {
  const bookmark = document.getElementById('bookmark');
  bookmark.outerHTML =  bookmarkHTML;
  bookmark.classList.toggle("biabutton-thin-active");
}

function addBookmarkRound() {
  const bookmarks = document.querySelectorAll("[data-restaurant-id='<%= @restaurant.id %>']");
  bookmarks.forEach(function(bookmark) {
    const oldHtml = bookmark.querySelector(".biabutton-round");
    oldHtml.classList.toggle("biabutton-round-active");
  })
}

function recommend(toggle) {
  const button = document.getElementById('open-modal');
  button.outerHTML = toggle;
  button.classList.toggle("biabutton-active");
  const window = document.getElementById('recommend-modal');
  window.style.display="none";
}

function addRecommendation (review) {
  const reviews = document.getElementById('reviews');
  reviews.insertAdjacentHTML('afterbegin', review);
  const noReviews = document.getElementById('no-reviews');
  if (noReviews) {
    noReviews.outerHTML = "";
  }
}

function refresh (refreshHTML) {
  const form = document.getElementById('rcmd-form');
  form.outerHTML = refreshHTML;
  $('.selectpicker').selectpicker('refresh');
}

function refreshRestaurantDetails (refreshHTML) {
  const restaurantDetails = document.getElementById('restaurant-details');
  restaurantDetails.outerHTML = refreshHTML;
}

<% if !params[:bookmark].nil? %>
  addBookmark('<%= j render "shared/restaurants/bookmark_button", restaurant: @restaurant, selection: @selection%>');
<% elsif !params[:bookmark_round].nil? %>
  addBookmarkRound();
<% else %>
  <% if @selection.errors.any? %>
    refresh('<div id = "rcmd-form"> <%= j render "selections/recommendation_form", restaurant: @restaurant, selection: @new_selection.nil? ? @selection : @new_selection  %> </div>');
  <% else %>
    recommend('<%= j render "shared/restaurants/recommend_button", restaurant: @restaurant, selection: @selection%>');
    addRecommendation('<%= j render "shared/restaurants/review", restaurant: @restaurant, selection: @selection%>');
    refreshRestaurantDetails( '<%= j render "shared/restaurants/restaurantdetails", restaurant: @restaurant %>')
  <% end %>
<% end %>
