function addBookmark(bookmarkHTML) {
  const bookmark = document.getElementById('bookmark');
  bookmark.outerHTML =  bookmarkHTML;
  bookmark.classList.toggle("biabutton-active");
  console.log('bookmarked')
}

function recommend(toggle) {
  const button = document.getElementById('open-modal');
  button.outerHTML = toggle;
  button.classList.toggle("biabutton-active");
  const window = document.getElementById('recommend-modal');
  window.style.display="none";
  console.log('recommended');
}

function addRecommendation (review) {
  const reviews = document.getElementById('reviews')
  reviews.insertAdjacentHTML('afterbegin', review);
  console.log('posted');
}

function refresh (refreshHTML, review_input, cuisine_input) {
  const form = document.getElementById('rcmd-form');
  console.log(form);
  form.outerHTML = refreshHTML;
}

<% if !params[:bookmark].nil? %>
  addBookmark('<%= j render "shared/restaurants/bookmark_button", restaurant: @restaurant, selection: @selection%>');
<% else %>
  <% if @selection.errors.any? %>
    console.log("<%= @selection.errors.inspect %>");
    refresh('<div id = "rcmd-form"> <%= j render "selections/recommendation_form", restaurant: @restaurant, selection: @new_selection.nil? ? @selection : @new_selection  %> </div>');
  <% else %>
    console.log('success');
    recommend('<%= j render "shared/restaurants/recommend_button", restaurant: @restaurant, selection: @selection%>');
    addRecommendation('<%= j render "shared/restaurants/review", restaurant: @restaurant, selection: @selection%>');
  <% end %>
<% end %>
