<% content_for :meta_title, "BIA - Discover" %>
<%= render 'shared/navbar' %>

<div class="container-bia mt-5">
  <div class="page-title-1-2">
    <h2>Hello, <%= current_user.name %></h2>
    <h2>Timeline</h2>
  </div>
  <div class="index-selections-layout mt-4">
    <div class="side-filter">
      <%= simple_form_for :search, url: discover_path, method: "GET", html: { class: 'form-remove-b-margin' } do |f| %>
          <h5 class="mb-2">Location</h5>
          <%=f.input :location, required: false, placeholder: "Location of places", label: false, input_html: {class: 'input-field simple_form-align mb-2 multiselectuser' }%>
          <h5 class="mb-2">Timeline set-up</h5>
          <%=f.input :cuisine, as: :select, collection: ["All results", "Recommended restaurants", "Bookmarked restaurants", "Friendships"], required: false, label: false, input_html: {data: {width: '345px', style: "btn-light"},class: 'simple_form-align mb-2 selectpicker', multiple: "", title:"All results"}%>
        <%=f.submit "Search", class: "hide" %>
      <% end %>

      <h5 class ="mt-2">Quick Actions</h5>
      <%= link_to "Your Recommendations", user_path(current_user, selection: "recommended"), class: "quick-action block"%>
      <%= link_to "Your Bookmarks", user_path(current_user, selection: "bookmarked"), class: "quick-action block" %>
      <%= link_to "Nearby Restaurants", restaurants_path, class: "quick-action block" %>
      <%= link_to "Add Friends", users_path, class: "quick-action block" %>
    </div>
    <div class="index-selection-show">
      <% @all_activities.each do |activity| %>
        <%  if activity.class == Selection %>
          <%= render 'shared/discover_elements_selections', selection: activity %>
        <% elsif activity.class == Friendship %>
          <% mutual_friends = Friendship.where(asker: current_user.receivers).where(receiver: activity.asker) %>
          <%= render 'shared/discover_elements_friendships', friendship: activity, mutual_followers: mutual_friends %>
        <% end %>
      <% end %>
      <%= render 'shared/pageinator', elements: @all_activities, current_page: @current_page, total_pages: @total_pages  %>
    </div>
  </div>
</div>
