<h5 class = 'mb-3 mt-5'>Restaurant details</h5>
  <p class= 'my-2'> Cuisine: <%= restaurant.cuisine %></p>
  <p class= 'my-2'> Mostly suited for: <%= restaurant.avg_occasion %></p>
  <p class= 'my-2'> Prices: <%= restaurant.avg_price %></p>

<h5 class = 'mb-3 mt-5'>Contact details</h5>
  <p class= 'my-2'> Address: <%= restaurant.address %></p>
  <p class= 'my-2'> Phone: <%= restaurant.phone_number %></p>
  <p class= 'my-2'> E-mail: placeholder </p>
  <p class= 'my-2'> Web: <%= restaurant.url %></p>

