<%= render 'shared/navbar' %>
<div class="container-bia mt-5 index-restaurants-layout">
    <h2 class="text-center">Search</h2>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Recommended Places</h2>
      <i class="biabutton font-size-awesome fas fa-map-marked-alt"></i>
    </div>
    <div class="side-filter">
      <%= simple_form_for :search, url: restaurants_path, method: "GET", html: { class: 'form-remove-b-margin' } do |f| %>
          <%=f.input :query, required: false, label: false, input_html: {class: 'input-field simple_form-align' }%>
        <%=f.submit "Search", class: "hide" %>
      <% end %>
    </div>
    <div class="index-restaurants-grid">
      <% @restaurants.each do |restaurant| %>
        <%= render 'shared/card', restaurant: restaurant %>
      <% end %>
    </div>
</div>

