<%= render 'shared/navbar' %>
<div class="container-bia mt-5 index-restaurants-layout">
    <h2 class="text-center">Search</h2>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Recommended Places</h2>
      <i class="biabutton font-size-awesome fas fa-map-marked-alt"></i>
    </div>
    <div class="side-filter">
      <%= simple_form_for :search, url: restaurants_path, method: "GET", html: { class: 'form-remove-b-margin' } do |f| %>
          <%=f.input :query, required: false, label: false, input_html: {class: 'input-field simple_form-align mb-2' }%>
          <h5 class="mb-2">Location</h5>
          <%=f.input :location, required: false, label: false, input_html: {class: 'input-field simple_form-align mb-2 multiselectuser' }%>
          <h5 class="mb-2">Cuisine</h5>
          <%=f.input :cuisine, as: :select, collection: @cuisines, required: false, label: false, input_html: {data: {"live-search" => :true, "actions-box" => :true, width: '345px', style: "btn-light"},class: 'simple_form-align mb-2 selectpicker', multiple: "", title:"French, Japanese, Italian..."}%>
          <%= render 'shared/input_occasion', f: f %>
          <%= render 'shared/input_price', f: f %>
        <%=f.submit "Search", class: "hide" %>
      <% end %>
    </div>
    <div class="index-restaurants-grid">
      <% @restaurants.each do |restaurant| %>
        <%= render 'shared/card', data: {restaurant: restaurant}%>
      <% end %>
    </div>
</div>

