<% content_for :meta_title, "BIA - Recommend" %>
<%= render 'shared/navbar' %>
<div class="container-bia mt-5 search-page-layout">
<%= simple_form_for :search, url: recommend_path, method: "GET", html: { class: 'form-remove-b-margin' } do |f| %>
  <div class="search-one-line">
    <%=f.input :query, required: false, label: false, placeholder: "Search...", input_html: {class: 'input-field search-bar' }%>
    <%=f.input :location, required: false, label: false, placeholder: "City...",  input_html: {class: 'input-field search-bar' }%>
    <span>
      <%=f.input :range,  as: :numeric, label: false, required: false, placeholder: "5km around you",  input_html: {min: "0", class: 'input-field search-bar' }%>
      <%=f.input :lat, required: false, label: false, input_html: {value: 'na', class: 'hide', id: 'latitude-hidden' }%>
      <%=f.input :long, required: false, label: false, input_html: {value: 'na', class: 'hide', id: 'longitude-hidden' }%>
    </span>
    <%=f.submit "Search", class: "biabutton" %>
  </div>

<% end %>

<% if @your_restaurants.present? %>
  <h2>Recent or relevant</h2>
  <div class="index-restaurants-grid-3">
      <% @your_restaurants.each do |restaurant| %>
        <%= render 'shared/card', data: {restaurant: restaurant, disp_address: true} %>
      <% end %>
  </div>
<% end %>
<% if @results.present? %>
  <h2>Search Result</h2>
  <div class="index-restaurants-grid-3">
      <% @results.each do |result| %>
        <% if result[:existing_reccord] %>
          <%= render 'shared/card', data: {restaurant: result[:restaurant], disp_address: true, existing_reccord: true} %>
        <% else %>
          <%= render 'shared/card', data: {restaurant: result[:restaurant], disp_address: true, new: true} %>
        <% end %>
      <% end %>
  </div>
<% end %>
</div>
