<% content_for :meta_title, "BIA - Recommend" %>
<%= render 'shared/navbar' %>
<div class="container-bia mt-5 search-page-layout">
<h2>Search</h2>
<h4>Find the restaurants you want to recommend </h4>
<%= simple_form_for :search, url: recommend_path, method: "GET", html: { class: 'form-remove-b-margin' } do |f| %>
  <div class="search-one-line">
    <%=f.input :query, required: false, label: false, placeholder: "Search...", input_html: {class: 'input-field search-bar' }%>
    <%=f.input :location, required: false, label: false, placeholder: "City...",  input_html: {class: 'input-field search-bar' }%>
    <span>
      <%=f.input :range,  as: :numeric, label: false, required: false, placeholder: "5km around you",  input_html: {min: "0", class: 'input-field search-bar' }%>
      <%=f.input :lat, required: false, label: false, input_html: {value: 'na', class: 'hide', id: 'latitude-hidden' }%>
      <%=f.input :long, required: false, label: false, input_html: {value: 'na', class: 'hide', id: 'longitude-hidden' }%>
    </span>
    <%=f.submit "Search", class: "biabutton" %>
  </div>

<% end %>

<% if !@results.present? %>
  <h4>Do you want to recommend these restaurants to your friends? </h4>
  <div class="index-restaurants-grid-3">
    <% @six_recent.each do |restaurant| %>
      <%= render 'shared/card', data: {restaurant: restaurant, existing_reccord: true} %>
    <% end %>
    <p><% @six_recent %></p>
  </div>
<% end %>

<% if @results.nil? %>
  <h4>Search Result</h4>
  <p>Unfortunately there were no results - try again! </p>
<% end %>

<% if @results.present? %>
  <h4>Search Result</h4>
  <div class="index-restaurants-grid-3">
      <% @results.each do |result| %>
        <% if result[:existing_reccord] %>
          <%= render 'shared/card', data: {restaurant: result[:restaurant], disp_address: true, existing_reccord: true} %>
        <% else %>
          <%= render 'shared/card', data: {restaurant: result[:restaurant], disp_address: true, new: true} %>
        <% end %>
      <% end %>
  </div>
  <%= render 'shared/pageinator', elements: @results, current_page: @current_page, total_pages: @total_pages %>
<% end %>
</div>
