<%= render 'shared/navbar' %>

<div class="container-bia">

  <h2 class="mt-4"> <%= @restaurant.name %></h2>

  <div class="restaurant-show-content mt-4">
    <%= cl_image_tag @restaurant.photo, class: " width-100-pc height-100-pc span-1-1" %>
    <%= image_tag "placeholder_map", class: "span-2-1 width-100-pc" %>
    <div class="span-1-3">
      <%= render 'corebuttons'%>
      <%= render 'actionbuttons'%>
      <%= render 'restaurantdetails', restaurant: @restaurant %>
    </div>
    <div class="span-2-3">
      <h5 class="my-2" >Reviews by your friends</h5>
      <%= render 'reviewcards', restaurant: @restaurant %>
    </div>

  </div>

</div>
