<%= render 'shared/navbar' %>

<div class="container-bia">

  <h2> <%= @restaurant.name %></h2>

  <div class="restaurant-show-content">
    <div class="span-1-1 size-100-pc">
      <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/13/8f/1a/fe/c-boaz-arad.jpg" %>
    </div>

    <div class="span-2-1 size-100-pc">
      <%= image_tag "placeholder_map", class: 'size-100-pc' %>
    </div>
  </div>

  <div class="d-flex my-4">
    <div class="action-bar">
      <div class="buttons align-center">
        <button class ="biabutton size-50-pc"> Recommend </button>
        <button class ="biabutton size-50-pc"> Bookmark </button>
      </div>
    </div>

    <div class="show-main-content">
      <%= image_tag "placeholder_map", class: 'img-size-100-pc' %>
    </div>
  </div>

</div>
