<%= link_to(user_path(user)) do %>
  <div class="friedship-card p-3 mb-3">
    <!-- default friendship card -->
      <% if user.photo? %>
          <div class="avatar-large" data-tooltip="<%=user.name%>" style="background-image: url('<%= cl_image_path user.photo %>')"></div>
      <% else %>
        <%= cl_image_tag 'snmjibatw66rduqpmt3b', class: "avatar" %>
      <% end %>
    <div class="friendship-content ml-3">
      <div class="d-flex">
        <h5><%= user.name %></h5>
        <h5 class="user-location ml-3"><%= user.location %></h5>
      </div>
      <p class=" mt-1"><%= user.description %></p>
      <% if show_mutual%>
        <% friendship = (Friendship.where(asker: user, receiver: current_user, active: 1)).or(Friendship.where(asker: current_user, receiver: user, active: 1)).first %>
        <% mutual_followers = Friendship.where(asker: current_user.receivers, active: 1).where(receiver: user) %>
        <% if friendship.presence%>
          <%= render 'shared/friendships/mutual_followers', mutual_followers: mutual_followers, friendship: friendship, small: true %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
