<%= link_to(user_path(user)) do %>
  <div class="friedship-card p-3 mb-3">
    <!-- default friendship card -->
      <% if user.photo? %>
          <div class="avatar-large" style="background-image: url('<%= cl_image_path user.photo %>')"></div>
      <% else %>
        <%= cl_image_tag 'snmjibatw66rduqpmt3b', class: "avatar" %>
      <% end %>
    <div class="friendship-content ml-3">
      <div class="d-flex">
        <h5><%= user.name %></h5>
        <h5 class="user-location ml-3"><%= user.location %></h5>
      </div>
      <p><%= user.description %></p>
    </div>
  </div>
<% end %>
