<div class="side-filter">
  <div class="card-info">
    <div class="card-profile-image ">
      <%= link_to @user do %>
        <% if @user.photo? %>
            <div class="avatar-profile" style="background-image: url('<%= cl_image_path @user.photo %>')"></div>
        <% else %>
          <%= cl_image_tag 'profile_picture_unavailable_gwyjic', class: "avatar-profile" %>
        <% end %>
      <%end %>
    </div>
    <div class="card-profile-content">
      <div class="following-info profile-info">
        <%= link_to "Following", user_path(@user, contacts: "following"), remote: true,class: "pb-1" %>
        <p><%= @user.friendships_as_asker.where(active: 1).count %></p>
      </div>
      <div class="followers-info profile-info">
        <%= link_to "Followers", user_path(@user, contacts: "followers"), remote: true, class: "pb-1" %>
        <p><%= @user.friendships_as_receiver.where(active: 1).count %></p>
      </div>
      <div class="recommended-info profile-info">
        <%= link_to "Recommended", user_path(@user, selection: "recommended"), remote: true, class: "pr-3 pb-1"%>
        <p><%= user_recommendations = Selection.where(user: @user, recommended: true).count %></p>
      </div>
      <div class="saved-info profile-info">
        <%= link_to "Bookmarked", user_path(@user, selection: "bookmarked"), remote: true, class: "pb-1" %>
        <p><%= user_bookmarked = Selection.where(user: @user, bookmarked: true).count %></p>
      </div>
      <div class="button-info profile-info" id="following-btn">
        <%= render 'shared/follow_btn', friendship: friendship, user: @user %>
      </div>
    </div>
  </div>
  <div class="location-info profile-info pt-2">
    <p class="pb-1">Username: <%= @user.username %></p>
  </div>
    <p>Location: <%= @user.location %></p>
</div>
