<div class="side-filter">
  <div class="card-info">
    <div class="card-profile-image ">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo, class: "avatar-profile" %>
      <% else %>
        <%= cl_image_tag 'profile_picture_unavailable_gwyjic', class: "avatar-profile" %>
      <% end %>
    </div>
    <div class="card-profile-content pr-4">
      <div class="following-info profile-info">
        <%= link_to "Following", following_path, class: "pb-1" %>
        <%= @user.receivers.count %>
      </div>
      <div class="followers-info profile-info">
        <%= link_to "Followers", followers_path, class: "pb-1" %>
        <%= @user.askers.count %>
      </div>
      <div class="recommended-info profile-info">
        <%= link_to "Recommended", '#', class: "pr-3 pb-1"%>
        <%= user_recommendations = Selection.where(user: @user, recommended: true).count %>
      </div>
      <div class="saved-info profile-info">
        <%= link_to "Saved", '#', class: "pb-1" %>
        <%= user_bookmarked = Selection.where(user: @user, bookmarked: true).count %>
      </div>
      <div class="location-info profile-info">
        <p>Berlin, Germany</p>
      </div>
    </div>
  </div>
</div>
