<div class="side-filter">
  <div class="card-info">
    <div class="card-profile-image ">
      <% if @user.photo? %>
          <div class="avatar-profile" style="background-image: url('<%= cl_image_path @user.photo %>')"></div>
      <% else %>
        <%= cl_image_tag 'profile_picture_unavailable_gwyjic', class: "avatar-profile" %>
      <% end %>
    </div>
    <div class="card-profile-content pr-4">
      <div class="following-info profile-info">
        <%= link_to "Following", following_path(@user), class: "pb-1" %>
        <p><%= @user.receivers.count %></p>
      </div>
      <div class="followers-info profile-info">
        <%= link_to "Followers", followers_path(@user), class: "pb-1" %>
        <p><%= @user.askers.count %></p>
      </div>
      <div class="recommended-info profile-info">
        <%= link_to "Recommended", '#', class: "pr-3 pb-1"%>
        <p><%= user_recommendations = Selection.where(user: @user, recommended: true).count %></p>
      </div>
      <div class="saved-info profile-info">
        <%= link_to "Saved", '#', class: "pb-1" %>
        <p><%= user_bookmarked = Selection.where(user: @user, bookmarked: true).count %></p>
      </div>
      <div class="button-info profile-info">
        <%= link_to 'Follow' , '#', class: "biabutton-full-width-center follow-button width-100-pc" %>
      </div>
    </div>
  </div>
  <div class="location-info profile-info pt-2">
    <p class="pb-1">Username: <%= @user.username %></p>
  </div>
    <p>Location: <%= @user.location %></p>
</div>
