<div class="side-filter">
  <div class="card-info">
    <div class="card-profile-image ">
      <% if @user.photo? %>
          <div class="avatar-profile" style="background-image: url('<%= cl_image_path @user.photo %>')"></div>
      <% else %>
        <%= cl_image_tag 'profile_picture_unavailable_gwyjic', class: "avatar-profile" %>
      <% end %>
    </div>
    <div class="card-profile-content pr-4">
      <div class="following-info profile-info">
        <%= link_to "Following", following_path(@user), class: "pb-1" %>
        <p><%= @user.friendships_as_asker.where(active: 1).count %></p>
      </div>
      <div class="followers-info profile-info">
        <%= link_to "Followers", followers_path(@user), class: "pb-1" %>
        <p><%= @user.friendships_as_receiver.where(active: 1).count %></p>
      </div>
      <div class="recommended-info profile-info">
        <%= link_to "Recommended", user_path(@user, selection: "recommended"), remote: true, class: "pr-3 pb-1"%>
        <p><%= user_recommendations = Selection.where(user: @user, recommended: true).count %></p>
      </div>
      <div class="saved-info profile-info">
        <%= link_to "Bookmarked", user_path(@user, selection: "bookmarked"), remote: true, class: "pb-1" %>
        <p><%= user_bookmarked = Selection.where(user: @user, bookmarked: true).count %></p>
      </div>
      <div class="button-info profile-info">
        <% if current_user != @user %>
          <% if friendship %>
            <% if friendship.active == 1 %>
              <%= link_to 'Unfollow' , update_follow_path(friendship, active: 0), method: :patch, class: "biabutton-full-width-center follow-button-unfollow width-100-pc" %>
            <% else %>
              <%= link_to 'Follow' , update_follow_path(friendship, active: 1), method: :patch, class: "biabutton-full-width-center follow-button-follow width-100-pc" %>
            <% end %>
          <% else %>
            <%= link_to 'Follow' , follow_path(@user), method: :create, class: "biabutton-full-width-center follow-button-follow width-100-pc" %>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="location-info profile-info pt-2">
    <p class="pb-1">Username: <%= @user.username %></p>
  </div>
    <p>Location: <%= @user.location %></p>
</div>
